{
  "root": true,
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["typescript", /*"simple-import-sort",*/ "import", "react-hooks"],
  "ignorePatterns": ["node_modules", "lib/**", "dist/**"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": false
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17.0"
    }
  },
  "rules": {
    /* 样式相关 */
    "quotes": [
      "warn",
      "single",
      { "allowTemplateLiterals": true, "avoidEscape": true }
    ],
    "semi": "warn",
    // 分号前后不可有空格
    "semi-spacing": "error",
    "indent": ["warn", 2],
    // 注释符号后必须空格
    "spaced-comment": "warn",
    // 块级作用域'{}'内使用前后空格
    "block-spacing": "warn",
    "jsx-quotes": ["warn", "prefer-double"],
    // 禁止连续多个空格
    "no-multi-spaces": "warn",
    //在if、for等关键字后加空格
    "keyword-spacing": ["warn", { "before": true }],
    // json对象key后加空格
    "key-spacing": ["error", { "afterColon": true }],
    // 禁止行尾部空格
    "no-trailing-spaces": "error",
    // 对象的key是否需要双引号包裹
    "quote-props": ["warn", "as-needed"],
    // 箭头函数的箭头两边留空白格
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    // 如if、function的左大括号"{"放在当前行
    "brace-style": "warn",
    // 如if、function的左大括号"{"前要有空格
    "space-before-blocks": "warn",
    // 声明函数时函数名与"("是否有空格
    "space-before-function-paren": [
      "warn",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    // 函数的参数不能有空格
    "space-in-parens": ["warn", "never"],
    // ","后需要空格
    "comma-spacing": ["warn", { "before": false, "after": true }],
    // 数组、对象的最后一个值需要逗号
    "comma-dangle": ["warn", "always-multiline"],
    // 对运算符，如+-=添加空格
    "space-infix-ops": "warn",
    // 对如s++不允许插入空格或自动整理如count+++1
    "space-unary-ops": "warn",
    // 执行函数时不可有空格
    "no-spaced-func": "warn",
    // 访问对象属性前禁止空格
    "no-whitespace-before-property": "error",
    // 链式调用换行
    "newline-per-chained-call": "warn",
    // 声明的最后一个变量后空一行
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ],
    // 空行最多不能超过1行
    "no-multiple-empty-lines": [1, { "max": 1 }],

    /* 代码相关 */
    "no-console": "warn",
    "no-unused-vars": "error",
    "eqeqeq": "error",
    "sort-vars": "warn",
    "no-alert": "error",
    // 禁止比较时使用NaN，只能用isNaN()
    "use-isnan": "error",
    // 禁止有空函数
    "no-empty-function": "error",
    // 禁止var声明变量
    "no-var": "warn",
    // 尽可能使用const
    "prefer-const": "warn",
    // new Promise不应有retrun任何值
    "no-promise-executor-return": "warn",
    // 防止在数组中多次使用",,"
    "no-sparse-arrays": "error",
    // if-retrue就不要再写else-return
    "no-else-return": "warn",
    // async-await必须成对出现
    "require-await": "error",
    // 使用new Promise时传入的函数不可以是async-func
    "no-async-promise-executor": "error",
    // 禁止在for循环内使用await
    "no-await-in-loop": "error",
    // 可选链操作符出错提醒
    "no-unsafe-optional-chaining": "error",
    // 函数参数>3个时自动换行
    "function-paren-newline": ["warn", { "minItems": 3 }],
    // 箭头函数返回一个值时，若可以则简化去掉"return"
    "arrow-body-style": ["warn", "as-needed"],
    // 箭头函数的参数必须用"()"包裹
    "arrow-parens": ["warn", "always"],
    // 字符串拼接倾向于es字符反引号
    "prefer-template": "warn",
    // 单个文件允许的最大行数=300,不包括注释和空白行
    "max-lines": ["warn", { "max": 300 }],
    // 函数允许最多3个参数
    "max-params": ["warn", 3],
    // 禁止 if(true) if(1)
    "no-constant-condition": "error",
    // 禁止对象出现重复的key
    "no-dupe-keys": "error",
    // 浮点数不可以省略0，例如 .53 -> 0.53
    "no-floating-decimal": "warn",
    // 禁止与外层作用域同名的变量名
    "no-shadow": "warn",
    //禁止不必要的嵌套 var isYes = answer === 1 ? true : false;
    "no-unneeded-ternary": 2,
    // switch内必须有default
    "default-case": "error",
    //必须使用 if(){} 中的{}
    "curly": ["warn", "all"],
    //parseInt必须指定第二个参数
    "radix": "error",
    // return前空一行
    "newline-before-return": "warn",

    /* 插件 */
    // plugin:simple-import-sort
    "sort-imports": "off",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        // 不同模块类型间隔一行
        "newlines-between": "always",
        // 警告未引用的如import './index.css'
        "warnOnUnassignedImports": true
      }
    ],
    // "simple-import-sort/imports": "error",
    // "simple-import-sort/exports": "error",

    // plugin:import
    "import/first": "error",
    "import/newline-after-import": "error",
    // 不可以imoport多次同一个文件，但是允许import type A from 'a.ts'
    "import/no-duplicates": "error",

    // plugin:react-hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
